includes:
   - vendor/nunomaduro/larastan/extension.neon

parameters:
   level: 5
   paths:
       - app
   ignoreErrors:
       - identifier: missingType.iterableValue
       - identifier: missingType.generics
       - '#Access to an undefined property Illuminate\\Database\\Eloquent\\Model\\#'
       - '#Call to an undefined method Illuminate\\Database\\Eloquent\\Model\\#'